@using Project.BLL.Concrete
@using Project.UI.Models
@{ 
    
    List<Category> list = CacheHelper.GetCategoriesFromCache();
    ;
}


<p class="lead">Kategoriler</p>
<div class="list-group">
    <a href="@Url.Action("Index","Home")" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> Tümü</a>
    @foreach(Category category in list)
    {
    <a href="/Home/ByCategory/@category.ID" title="@category.Description" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> @category.Title</a>

    }
    
</div>
